<nav class="site-nav">
  <ul>
    {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} active{{/if}}">
      <a href="{{url absolute="true"}}">{{label}}</a>
    </li>
    {{/foreach}}
  </ul>
</nav>
