<nav class="pagination" role="pagination">
	{{#if prev}}
	<a class="pagination-next" href="{{page_url prev}}"><span class="pagination-label"><span class="arrow">&larr;</span> Newer Posts</span></a>
	{{/if}}
	<span class="pagination-info">Page {{page}} of {{pages}}</span>
	{{#if next}}
	<a class="pagination-prev" href="{{page_url next}}"><span class="pagination-label">Older Posts <span class="arrow">&rarr;</span></span></a>
	{{/if}}
</nav>
