<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{meta_title}}</title>
  <meta charset="utf-8">

  <meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}">
  {{ghost_head}}
</head>

<body class="{{body_class}} site-wrapper">
  <header class="site-header">
    <h1>
      <pre>ooo        ooooo               .                       o8o            
`88.       .888'             .o8                       `"'            
 888b     d'888   .oooo.   .o888oo  .ooooo.  oooo d8b oooo   .oooo.   
 8 Y88. .P  888  `P  )88b    888   d88' `88b `888""8P `888  `P  )88b  
 8  `888'   888   .oP"888    888   888ooo888  888      888   .oP"888  
 8    Y     888  d8(  888    888 . 888    .o  888      888  d8(  888  
o8o        o888o `Y888""8o   "888" `Y8bod8P' d888b    o888o `Y888""8o </pre>
    </h1>
    
    {{#if @blog.description}}
    <h2 class="site-desc">{{@blog.description}}</h2>
    {{/if}}

    {{navigation}}
  </header>

  <main>
    {{{body}}}
  </main>

  <footer class="site-footer">
    <section class="copyright">
      &copy; {{date format="YYYY"}}
    </section>

    <section class="poweredby">
      <p>
        Published with <a href="https://ghost.org">Ghost</a>
      </p>      
      <p>
        Inspired by the <a href="https://transhuman.neocities.org/">Transhuman</a> Neocities website.
      </p>
    </section>
  </footer>

  {{ghost_foot}}
</body>
</html>
