{{!< default}}

{{#foreach posts}}
<article class="{{post_class}}">
  
  <header class="post-header">
    <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
    <p class="post-meta">By: {{author.name}} | <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></p>
  </header>

  <section class="post-excerpt">
    <p>{{excerpt}}&hellip;</p>
  </section>
  
  <footer class="post-footer">
    {{tags prefix="Tagged with: " separator= ", "}} 
  </footer>

</article>
{{/foreach}}

{{pagination}}
