{{!< default}}

{{#post}}
<article class="{{post_class}}">
	
	<header class="post-header">
		<h1 class="post-title">{{{title}}}</h1>
		<span class="post-meta">Last updated: <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span>
	</header>
	
	<section class="post-content">
		{{content}}
	</section>

	<footer class="post-footer">
		{{tags prefix="Tagged with: " separator= ", "}} 		
	</footer>
	
</article>
{{/post}}
