@import 'https://fonts.googleapis.com/css?family=Space+Mono';
@import '../../node_modules/normalize.css/normalize.css';

$background-color: rgba(44, 62, 80, 1.0);
$content-color: rgba(236, 240, 241, 1.0);
$header-color: rgba(46, 204, 113, 1.0);
$link-color: rgba(52, 152, 219, 1.0);
$transition: 0.2s ease-out;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 12px 'Space Mono', monospace;
}

body {
  color: $content-color;
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Mono', monospace;
  font-weight: 100;
  
  > a {
    color: $content-color;
  }
}

a, a:visited {
  color: $link-color;
  border-bottom: 1px dashed;
  text-decoration: none;
  transition: $transition;
  
  &:hover, &:active {
    color: $header-color;
  }
}

.home-template, .post-template, .page-template, .tag-template {
  text-align: center;
  width: 960px;
}

$site: '.site';
#{$site} {
  &-wrapper {
    margin: auto auto 3rem auto;
  }
  
  &-header {
    font-family: 'Space Mono', monospace;
    margin: 6rem 0 1.5rem 0;
    
    & > h1 {      
      color: $header-color;
      font-size: 1rem;
    }
  }
  
  &-desc {
    color: $header-color;
    font-family: 'Space Mono', monospace;
    font-weight: 100;
    margin-top: 1.5rem;
  }
  
  &-nav {
    margin-top: 1.5rem;
    
    & ul {
      list-style-type: none;
      
      & > li {
        border: none;
        display: inline-block;
        margin: auto;
        margin-right: 0.5rem;
        
        & > a {
          border: 1px dashed $content-color;
          color: $content-color;
          display: block;
          font-size: 1.5rem;
          line-height: 2.6;
          height: 4rem;
          text-transform: uppercase;
          transition: $transition;
          width: 10rem;
          
          &:hover {
            background-color: $content-color;
            color: $background-color;
          }
        }
        
        &:last-of-type {
          margin-right: auto;
        }
      }
    }
  }
}

$post: '.post';
#{$post} {
  border: 1px dashed;
  font-size: 1.25rem;
  padding: 2em 2em 1em 2em;
  margin-bottom: 2em;
  
  &-header {
    margin-bottom: 1.5em;
  }
  
  &-title {
    margin: 0;
    
    > a {
      color: $content-color;
      
      &:hover, &:active, &:visited {
        color: $content-color;
      }
    }
  }
  
  &-meta {
    font-size: 1rem;
    margin: 1rem 0;
  }
  
  &-footer {
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  &-content, &-excerpt {
    text-align: justify;
    text-indent: 4rem;
  }
  
  &-content {
    h2, h3 {
      font-weight: 600;
      margin-top: 1rem;
    }
    
    p {
      margin-bottom: 1rem;
      
      &:last-of-type {
        margin-top: 0;
      }
    }
    
    ul, ol {
      margin-bottom: 1rem;
      margin-left: 4rem;
      
      &:last-child {
        margin-bottom: 0;
      }
      
      li {
        text-align: initial;
        text-indent: initial;
      }
    }
    
    blockquote {
      color: $header-color;
      text-align: center;
      
      &::before {
        content: '\201C';
      }
      
      &::after {
        content: '\201D';
      }
      
      & > p {
        display: inline;
      }
    }
    
    pre {
      text-align: initial;
      text-indent: 0;
    }
  }
}

$pagination: '.pagination';
#{$pagination} {
  margin-bottom: 1.5rem;
  
  .arrow {
    font-size: 2rem;
  }
}
